<app-header
(showButtons)=false
></app-header>
<div class="main">
    <div class="header">
      <h1 class="header__title">Escolha sua plataforma e venha comprar com a gente!!</h1>
    </div>
    <div class="container">
      <div class="card card1">
        <img src="/assets/xbox.png" alt="Xbox" class="card__icon">
        <div class="card__data">
          <span class="card__description">Selecione a quantidade desejada e finalize sua compra de forma rápida e confiável.</span>
          <h2 class="card__title">Compre suas Coins com Segurança!</h2>
          <a routerLink="/buy-page" class="card__button">Compre aqui</a>
        </div>
      </div>
      <div class="card card2">
        <img src="/assets/playstation.png" alt="PlayStation" class="card__icon">
        <div class="card__data">
          <span class="card__description">Compre Coins Aqui</span>
          <h2 class="card__title">Para todas as plataformas</h2>
          <a routerLink="/buy-page" class="card__button">COMPRE AQUI</a>
        </div>
      </div>
      <div class="card card3">
        <img src="/assets/steam.png" alt="Steam" class="card__icon">
        <div class="card__data">
          <span class="card__description">Compre Coins Aqui</span>
          <h2 class="card__title">Para todas as plataformas</h2>
          <a routerLink="/buy-page" class="card__button">COMPRE AQUI</a>
        </div>
      </div>
    </div>
  </div>
  <div class="infos">
    <div class="wrapper">
      <div class="content">
      
        <div class="card-large">
          <h2 class="card-large__title">Elenco dos Campeões</h2>
          <p class="card-large__description">
            Confira o elenco poderoso de quem já comprou coins e transformou seu time em uma verdadeira máquina de vitórias!
          </p>
          <img src="/assets/elenco.png" alt="Elenco dos Campeões" class="card-large__image">
        </div>
  
       
        <div class="info-cards">
          
          <div class="highlight">
            <h2 class="highlight__title">Por que comprar Coins?</h2>
            <p class="highlight__description">
              Eleve o nível do seu time com os melhores jogadores! Comprar coins é a forma mais rápida, segura e eficiente de alcançar o topo. Não perca tempo e domine o EA FC!
            </p>
            <a routerLink="/buy-page" class="highlight__button">Compre Agora</a>
          </div>
  
        
          <div class="highlight">
            <h2 class="highlight__title">Como é feito o processo de transfêrencia de coins ?</h2>
            <p class="highlight__description">
             Nosso time possui um método de compra segura, que previne contra qualquer tipo de BAN
            </p>
            <a routerLink="/compras" class="highlight__button">Venha saber mais!</a>
          </div>
          <div class="highlight">
            <h2 class="highlight__title">Quer tirar suas dúvidas?</h2>
            <p class="highlight__description">
              Entre em contato com nossa equipe
            </p>
            <a href="https://wa.link/jqpwev" class="highlight__button">Contato</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="social">
       <a href="https://www.linkedin.com/in/vitor-ibraim-b4390024a/" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="https://github.com/S41T4M4/" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-github"></i>
        </a>
        <a target="_blank"  href="https://wa.link/jqpwev">
          <i class="fa-brands fa-whatsapp"></i>
        </a>
        <a target="_blank" href="https://www.instagram.com/ibr4im__/">
          <i class="fa-brands fa-instagram" target="_blank" rel="noopener noreferrer"></i>
        </a>
     
 
    </div>
    <ul>
       <li><a href="">FAQ</a></li>
       <li><a href="">Service</a></li>
     
       <li><a href="">About</a></li>
       <li><a href="">Contact</a></li>
       <li><a href="">Privacy Policy</a></li>
    </ul>
    
    <p class="copyright">
        Vitor Ibraim Coder | All Right Reserved
    </p>
 
 </footer>